* {
    padding: 0;
    Margin: 0;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-image: url('../images/background-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #333;
    text-align: center;
    color: white;
}

.title {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

/* BEGIN STYLING SLIDER */
/* ======================================================================================= */
.container {
    height: 610px;
    min-width: 100vw;
    margin-top: 2%;
    background-color: rgba(51, 51, 51, 0.623)
}

.wrapper {
    max-height: 500px;
}

.box {
    height: 500px;
    width: 300px;
    margin: 0;
    position: relative;
    top: 15px;
    box-shadow: 0 15px 25px #111;
    display: inline-block;
    border-radius: 15px;
    background-color: steelblue;
    font-family: 'Bangers', cursive;
    z-index: 100;
}

#char0 {left: -190px;}
#char1 {left: -90px;}
#char2 {left: 10px;}
#char3 {left: 110px;}
#char4 {left: 210px;}


#slideLeft {
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    border-right: 45px solid #111;
    position: absolute;
    left: 530px;
    top: 275px;
    filter: drop-shadow(5px 5px 6px #222);
    cursor: pointer;
    z-index: 900;
}

#slideRight {
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 45px solid #111;
    position: absolute;
    right: 530px;
    top: 275px;
    filter: drop-shadow(5px 5px 6px #222);
    cursor: pointer;
    z-index: 900;
}

.charImg {
    height: 150px;
    width: 100%;
    margin-top: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#charImage-luke{background-image: url('../images/Lego_luke.png');}
#charImage-obi{background-image: url('../images/Lego_obi.png');}
#charImage-kylo{background-image: url('../images/Lego_kylo.png');}
#charImage-vader{background-image: url('../images/Lego_vader.png');}
#charImage-yoda{background-image: url('../images/Lego_yoda.png');}

#charName {
    font-size: 1.8em;
    text-align: center;
    margin-top: 10px;
}

.bio {
    height: 115px;
    width: 90%;
    margin: 10px auto;
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: justify;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
}

.stats {
    font-size: 1.5em;
    text-align: center;
    margin-top: 4px;
}

li {
    font-size: 1.8em;
    margin: 10px auto;
    text-align: center;
}

.buttons {
    height: fit-content;
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

#pickHero, #pickEnemy {
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-family: 'Mina', cursive;
    font-size: 2em;
}

button {
    box-shadow: 5px 5px 7px #111;
}

button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 7px 7px 9px #111;
    transition: .1s;
}

button:active {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px 3px #111;
    transition: .1s;
}

#pickHero {
    margin-right: 15px;
    background-color: green;
}

#pickEnemy {
    background-color: rgb(247, 77, 77);
}
/* END STYLING SLIDER */
/* ======================================================================================= */

/* BEGIN STYLING BATTLE SCREEN */
/* ======================================================================================= */
.battleScreen {
    background-color: #555;
    position: absolute;
    top: 50px;
    display: none;
    opacity: 0;
    z-index: 990;
}

.battleBox {
    height: 500px;
    width: 300px;
    position: absolute;
    top: 50px;
    display: inline-block;
    border-radius: 15px;
    z-index: 999;
}

#heroImg, #enemyImg {
    width: 240px;
    height: 210px;
    border-radius: 220px;
    padding-top: 40px;
    margin-top: 25px;
}

#heroImg {
    background-color: green;
}

#enemyImg {
    background-color: rgb(247, 77, 77);
}

#heroHp, #enemyHp {
    height: 50px;
    width: 240px;
    margin-top: 15px;
    background-color: rgb(39, 86, 128);
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 2.3em;
    line-height: 1.3;
    box-shadow: 5px 5px 5px #222;
}

#heroLog, #enemyLog {
    width: 220px;
    height: fit-content;
    background-color: #222;
    margin-top: 15px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #111;
    font-family: 'Bangers', cursive;
    color: whitesmoke;
    font-size: 2em;
    text-align: center;
}

#heroZone {
    left: 140px;
}

#enemyZone {
    right: 140px;
}

.vs {
    text-align: center;
    margin-top: 140px;
    font-family: 'Bangers', cursive;
    font-size: 3em;
    text-shadow: 4px 4px 5px #222;
}

.attack {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 50px;
    left: 45%;
    background-color: #222;
    color: whitesmoke;
    border-radius: 20px;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    border: none;
    cursor: pointer;
    outline: none;
}

.attack:hover {
    color: rgb(255, 50, 50);
}
/* END STYLING BATTLE SCREEN */
/* ======================================================================================= */
